# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from datetime import datetime

from scipy.stats import linregress



#Get 2019 Data
CapitalBike201901 = "../UnzipRawFiles/2019/201901-capitalbikeshare-tripdata.csv"
CapitalBike201902 = "../UnzipRawFiles/2019/201902-capitalbikeshare-tripdata.csv"
CapitalBike201903 = "../UnzipRawFiles/2019/201903-capitalbikeshare-tripdata.csv"
CapitalBike201904 = "../UnzipRawFiles/2019/201904-capitalbikeshare-tripdata.csv"
CapitalBike201905 = "../UnzipRawFiles/2019/201905-capitalbikeshare-tripdata.csv"
CapitalBike201906 = "../UnzipRawFiles/2019/201906-capitalbikeshare-tripdata.csv"
CapitalBike201907 = "../UnzipRawFiles/2019/201907-capitalbikeshare-tripdata.csv"
CapitalBike201908 = "../UnzipRawFiles/2019/201908-capitalbikeshare-tripdata.csv"
CapitalBike201909 = "../UnzipRawFiles/2019/201909-capitalbikeshare-tripdata.csv"
CapitalBike201910 = "../UnzipRawFiles/2019/201910-capitalbikeshare-tripdata.csv"
CapitalBike201911 = "../UnzipRawFiles/2019/201911-capitalbikeshare-tripdata.csv"
CapitalBike201912 = "../UnzipRawFiles/2019/201912-capitalbikeshare-tripdata.csv"



CapitalBike201901_df = pd.read_csv(CapitalBike201901)
CapitalBike201902_df = pd.read_csv(CapitalBike201902)
CapitalBike201903_df = pd.read_csv(CapitalBike201903)
CapitalBike201904_df = pd.read_csv(CapitalBike201904)
CapitalBike201905_df = pd.read_csv(CapitalBike201905)
CapitalBike201906_df = pd.read_csv(CapitalBike201906)
CapitalBike201907_df = pd.read_csv(CapitalBike201907)
CapitalBike201908_df = pd.read_csv(CapitalBike201908)
CapitalBike201909_df = pd.read_csv(CapitalBike201909)
CapitalBike201910_df = pd.read_csv(CapitalBike201910)
CapitalBike201911_df = pd.read_csv(CapitalBike201911)
CapitalBike201912_df = pd.read_csv(CapitalBike201912)

In [2]:
CapitalBike201906_df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,839,2019-06-01 00:00:04,2019-06-01 00:14:03,31245,7th & R St NW / Shaw Library,31508,Gallaudet / 8th St & Florida Ave NE,W23489,Member
1,389,2019-06-01 00:00:13,2019-06-01 00:06:43,31639,2nd & G St NE,31647,7th St & Massachusetts Ave NE,W00660,Member
2,270,2019-06-01 00:00:15,2019-06-01 00:04:46,31228,8th & H St NW,31266,11th & M St NW,W01010,Member
3,1029,2019-06-01 00:00:32,2019-06-01 00:17:41,31251,12th & L St NW,31508,Gallaudet / 8th St & Florida Ave NE,W01313,Member
4,892,2019-06-01 00:00:33,2019-06-01 00:15:25,31082,Eisenhower Ave & Mill Race Ln,31088,Mount Vernon Ave & Kennedy St,W00623,Member

In [3]:
combined_2019_df = pd.concat([CapitalBike201901_df, CapitalBike201902_df,CapitalBike201903_df,CapitalBike201904_df, CapitalBike201905_df, CapitalBike201906_df,CapitalBike201907_df,CapitalBike201908_df,CapitalBike201909_df,CapitalBike201910_df,CapitalBike201911_df,CapitalBike201912_df], ignore_index=True)

In [4]:
combined_2019_df.count()

Duration                3398417
Start date              3398417
End date                3398417
Start station number    3398417
Start station           3398417
End station number      3398417
End station             3398417
Bike number             3398403
Member type             3398417
dtype: int64

In [5]:
#cleanup
combined_2019_df.dropna(inplace = True)

In [6]:
combined_2019_df.count()

Duration                3398403
Start date              3398403
End date                3398403
Start station number    3398403
Start station           3398403
End station number      3398403
End station             3398403
Bike number             3398403
Member type             3398403
dtype: int64

In [7]:
combined_2019_df['DateTime'] =  pd.to_datetime(combined_2019_df['Start date'], format='%Y-%m-%d %H:%M:%S')
# extracting time from timestamp
combined_2019_df['Time'] = combined_2019_df['DateTime'].dt.strftime('%H:%M')
combined_2019_df['Month'] = combined_2019_df['DateTime'].dt.strftime('%b')
combined_2019_df['Date'] = combined_2019_df['DateTime'].dt.strftime('%x')
#combined_2019_df.tail()

In [8]:
combined_2019_df.to_csv('2019Data.csv', index = False)

combined_2019_df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,DateTime,Time,Month,Date
0,230,2019-01-01 00:04:48,2019-01-01 00:08:39,31203,14th & Rhode Island Ave NW,31200,Massachusetts Ave & Dupont Circle NW,E00141,Member,2019-01-01 00:04:48,00:04,Jan,01/01/19
1,1549,2019-01-01 00:06:37,2019-01-01 00:32:27,31321,15th St & Constitution Ave NW,31114,18th St & Wyoming Ave NW,W24067,Casual,2019-01-01 00:06:37,00:06,Jan,01/01/19
2,177,2019-01-01 00:08:46,2019-01-01 00:11:44,31104,Adams Mill & Columbia Rd NW,31323,Woodley Park Metro / Calvert St & Connecticut ...,W22654,Casual,2019-01-01 00:08:46,00:08,Jan,01/01/19
3,228,2019-01-01 00:08:47,2019-01-01 00:12:35,31281,8th & O St NW,31280,11th & S St NW,W22336,Member,2019-01-01 00:08:47,00:08,Jan,01/01/19
4,1300,2019-01-01 00:12:29,2019-01-01 00:34:10,31014,Lynn & 19th St North,31923,Columbia Pike & S Taylor St,70004,Member,2019-01-01 00:12:29,00:12,Jan,01/01/19

In [9]:
#get 2020 data
CapitalBike202001 = "../UnzipRawFiles/2020/202001-capitalbikeshare-tripdata.csv"
CapitalBike202002 = "../UnzipRawFiles/2020/202002-capitalbikeshare-tripdata.csv"
CapitalBike202003 = "../UnzipRawFiles/2020/202003-capitalbikeshare-tripdata.csv"
CapitalBike202005 = "../UnzipRawFiles/2020/202005-capitalbikeshare-tripdata.csv"
CapitalBike202006 = "../UnzipRawFiles/2020/202006-capitalbikeshare-tripdata.csv"
CapitalBike202007 = "../UnzipRawFiles/2020/202007-capitalbikeshare-tripdata.csv"
CapitalBike202008 = "../UnzipRawFiles/2020/202008-capitalbikeshare-tripdata.csv"
CapitalBike202009 = "../UnzipRawFiles/2020/202009-capitalbikeshare-tripdata.csv"
CapitalBike202010 = "../UnzipRawFiles/2020/202010-capitalbikeshare-tripdata.csv"
CapitalBike202011 = "../UnzipRawFiles/2020/202011-capitalbikeshare-tripdata.csv"
CapitalBike202012 = "../UnzipRawFiles/2020/202012-capitalbikeshare-tripdata.csv"


CapitalBike202001_df = pd.read_csv(CapitalBike202001)
CapitalBike202002_df = pd.read_csv(CapitalBike202002)
CapitalBike202003_df = pd.read_csv(CapitalBike202003)
CapitalBike202005_df = pd.read_csv(CapitalBike202005)
CapitalBike202006_df = pd.read_csv(CapitalBike202006)
CapitalBike202007_df = pd.read_csv(CapitalBike202007)
CapitalBike202008_df = pd.read_csv(CapitalBike202008)
CapitalBike202009_df = pd.read_csv(CapitalBike202009)
CapitalBike202010_df = pd.read_csv(CapitalBike202010)
CapitalBike202011_df = pd.read_csv(CapitalBike202011)
CapitalBike202012_df = pd.read_csv(CapitalBike202012)

In [10]:
CapitalBike202007_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,453843A617C5BA52,docked_bike,2020-07-22 05:37:39,2020-07-22 05:41:01,11th & M St NW,31266.0,14th & L St NW,31283.0,38.905579,-77.027313,38.903658,-77.031737,member
1,FFCF14024AC20363,docked_bike,2020-07-05 15:59:09,2020-07-05 16:15:12,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd & N Illinois St,31902.0,38.879476,-77.114563,38.876528,-77.127120,member
2,B2F1307EF206C973,docked_bike,2020-07-11 09:11:30,2020-07-11 09:25:54,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd & N Illinois St,31902.0,38.879476,-77.114563,38.876528,-77.127120,member
3,6694BCE0612D1823,electric_bike,2020-07-16 08:44:44,2020-07-16 09:08:49,Philadelphia & Maple Ave,32010.0,East West Hwy & Blair Mill Rd,32019.0,38.981202,-77.011275,38.990422,-77.029423,member
4,251D19F64439E1F4,docked_bike,2020-07-27 12:09:55,2020-07-27 13:58:37,Wilson Blvd. & N. Vermont St.,31926.0,Utah St & 11th St N,31049.0,38.879476,-77.114563,38.883669,-77.113905,casual

In [11]:
#combine data
#combined_2020_df = pd.concat([CapitalBike202001_df, CapitalBike202002_df,CapitalBike202003_df, CapitalBike202005_df, CapitalBike202006_df, CapitalBike202007_df, CapitalBike202008_df, CapitalBike202009_df, CapitalBike202010_df, CapitalBike202011_df, CapitalBike202012_df], ignore_index=True)
# #get columns that are needed
#combined_2020_df = combined_2020_df[["Duration", "Start date","End date","Start station number","Start station","End station number","End station","Bike number","Member type"]]

#====Data format changed between March 2020 and May 2020....converted May-Dec dataset to align with Jan2019 - Mar2020 datasets.
combined_2020_1st_df = pd.concat([CapitalBike202001_df, CapitalBike202002_df,CapitalBike202003_df], ignore_index=True)
combined_2020_2nd_df = pd.concat([CapitalBike202005_df, CapitalBike202006_df, CapitalBike202007_df, CapitalBike202008_df, CapitalBike202009_df, CapitalBike202010_df, CapitalBike202011_df, CapitalBike202012_df], ignore_index=True)
#====Had to create a duration column in seconds from starting and ending times to alighn with 2019 data.
combined_2020_2nd_df['Duration'] = pd.to_timedelta(pd.to_datetime(combined_2020_2nd_df['ended_at'], format='%Y-%m-%d %H:%M:%S')-pd.to_datetime(combined_2020_2nd_df['started_at'], format='%Y-%m-%d %H:%M:%S')).dt.total_seconds()
combined_2020_2ndcol_df = combined_2020_2nd_df[['Duration','started_at','ended_at','start_station_id','start_station_name','end_station_id','end_station_name','ride_id','member_casual']]
combined_2020_2ndcol_df = combined_2020_2ndcol_df.rename(columns={'started_at':'Start date','ended_at':'End date','start_station_id':'Start station number','start_station_name':'Start station','end_station_id':'End station number','end_station_name':'End station','ride_id':'Bike number','member_casual':'Member type'})

In [12]:
combined_2020_2ndcol_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1604043 entries, 0 to 1604042
Data columns (total 9 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Duration              1604043 non-null  float64
 1   Start date            1604043 non-null  object
 2   End date              1604043 non-null  object
 3   Start station number  1519404 non-null  float64
 4   Start station         1519404 non-null  object
 5   End station number    1506999 non-null  float64
 6   End station           1506999 non-null  object
 7   Bike number           1604043 non-null  object
 8   Member type           1604043 non-null  object
dtypes: float64(3), object(6)
memory usage: 110.1+ MB

In [13]:
combined_2020_1st_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537400 entries, 0 to 537399
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Duration              537400 non-null  int64
 1   Start date            537400 non-null  object
 2   End date              537400 non-null  object
 3   Start station number  537400 non-null  int64
 4   Start station         537400 non-null  object
 5   End station number    537400 non-null  int64
 6   End station           537400 non-null  object
 7   Bike number           537400 non-null  object
 8   Member type           537400 non-null  object
dtypes: int64(3), object(6)
memory usage: 36.9+ MB

In [14]:
#---NEW consolidated 2020 dataset
combined_2020_df = pd.concat([combined_2020_1st_df, combined_2020_2ndcol_df], ignore_index=True)
combined_2020_df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,506.0,2020-01-01 00:00:59,2020-01-01 00:09:26,31623.0,Columbus Circle / Union Station,31658.0,Rosedale Rec Center,W22189,Member
1,1050.0,2020-01-01 00:01:16,2020-01-01 00:18:47,31613.0,Eastern Market Metro / Pennsylvania Ave & 7th ...,31606.0,Potomac & Pennsylvania Ave SE,W21067,Member
2,1687.0,2020-01-01 00:02:42,2020-01-01 00:30:50,31218.0,L'Enfant Plaza / 7th & C St SW,31271.0,Constitution Ave & 2nd St NW/DOL,W24359,Member
3,182.0,2020-01-01 00:02:44,2020-01-01 00:05:47,31627.0,3rd & M St NE,31508.0,Gallaudet / 8th St & Florida Ave NE,W23334,Member
4,1002.0,2020-01-01 00:06:12,2020-01-01 00:22:54,31247.0,Jefferson Dr & 14th St SW,31274.0,10th & G St NW,W23441,Member

In [15]:
#combined_2020_df.dropna(inplace = True)
#No clean up needed as count matches
#combined_2020_df.dropna(inplace = True)

In [16]:
combined_2020_df.count()

Duration                2141443
Start date              2141443
End date                2141443
Start station number    2056804
Start station           2056804
End station number      2044399
End station             2044399
Bike number             2141443
Member type             2141443
dtype: int64

In [17]:
#Cleanup and create data
combined_2020_df['DateTime'] =  pd.to_datetime(combined_2020_df['Start date'], format='%Y-%m-%d %H:%M:%S')
# extracting time from timestamp
combined_2020_df['Time'] = combined_2020_df['DateTime'].dt.strftime('%H:%M')
combined_2020_df['Month'] = combined_2020_df['DateTime'].dt.strftime('%b')
combined_2020_df['Date'] = combined_2020_df['DateTime'].dt.strftime('%x')
combined_2020_df.tail()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,DateTime,Time,Month,Date
2141438,1627.0,2020-12-12 13:49:55,2020-12-12 14:17:02,31247.0,Jefferson Dr & 14th St SW,31235.0,19th St & Constitution Ave NW,A10ED3D50E5AB612,casual,2020-12-12 13:49:55,13:49,Dec,12/12/20
2141439,1365.0,2020-12-03 13:43:26,2020-12-03 14:06:11,31247.0,Jefferson Dr & 14th St SW,31288.0,4th St & Madison Dr NW,F146CC9669ABF5EC,casual,2020-12-03 13:43:26,13:43,Dec,12/03/20
2141440,2159.0,2020-12-06 07:27:47,2020-12-06 08:03:46,31247.0,Jefferson Dr & 14th St SW,31235.0,19th St & Constitution Ave NW,614005BC98FE93F7,casual,2020-12-06 07:27:47,07:27,Dec,12/06/20
2141441,2458.0,2020-12-21 13:46:01,2020-12-21 14:26:59,31247.0,Jefferson Dr & 14th St SW,31277.0,17th & G St NW,86783BF38F4567FA,casual,2020-12-21 13:46:01,13:46,Dec,12/21/20
2141442,846.0,2020-12-18 09:09:48,2020-12-18 09:23:54,31275.0,New Hampshire Ave & 24th St NW,31288.0,4th St & Madison Dr NW,A7F61D67643CB526,member,2020-12-18 09:09:48,09:09,Dec,12/18/20

In [18]:
#combined_2020_NeededColumns_df.to_csv('2020Data.csv', index = False)

In [19]:
sum_2019 = combined_2019_df['Month'].value_counts()
sum_2019

Sep    360225
Aug    360044
Jul    356645
Jun    350130
Apr    347992
May    337704
Oct    337552
Mar    253811
Nov    223512
Dec    161878
Feb    158130
Jan    150780
Name: Month, dtype: int64

In [20]:
sum_2020 = combined_2020_df['Month'].value_counts()
sum_2020 = pd.concat([sum_2020.iloc[:1], pd.Series(0, ['Apr']),sum_2020[1:]])
sum_2020

Aug    251603
Apr         0
Sep    249899
Oct    229832
Jul    228347
Jun    214047
Jan    196969
Feb    177901
Nov    175435
Mar    162530
May    149051
Dec    105829
dtype: int64

In [21]:
#pd.concat([sum_2020.iloc[:1], pd.Series('Apr', [0]),sum_2020[1:]])
type(sum_2020)

pandas.core.series.Series